<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Movie List</h1>
    <h4>Add a Movie</h4>
    <table>
        {% for item in items %}
        <tr>
            {% if item.watched %}
                <td><strike>{{ item.title }}</strike></td>
            {% else %}
                <td>{{ item.title }}</td>
            {% endif %}
            <td>{{ item.image }}</td>
            <td>{{ item.director }}</td>
            <td>{{ item.score }}</td>
        </tr>
            {% empty %}
            <tr><td>You have nothing to do</td></tr>

        {% endfor %}
    </table>
</body>
</html>